<!DOCTYPE html>
{% load bootstrap4 %}
{% block container %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>
</head>
<body>

<form method="POST">
	{% csrf_token %}
	<fieldset>
		<legend>회원정보수정</legend>
		<p>
			<label>ID(Username):</label>
			<input type="text" placeholder="{{ user.username }}" disabled />
		</p>
		{% bootstrap_form user_change_form %}
		<!--		<p>-->
		<!--			<label>ID(Username):</label>-->
		<!--			<input type="text" placeholder="{{ user.username }}" disabled />-->
		<!--		</p>-->
		<!--		<p>-->
		<!--			<label for="nickname">닉네임</label>-->
		<!--			<input type="text" id="nickname" name="nickname" value="">-->
		<!--		</p>-->
		<!--		<p>-->
		<!--			<label for="password">기존 비밀번호</label>-->
		<!--			<input type="password" id="password" name="password" value="">-->
		<!--		</p>-->
		<!--		<p>-->
		<!--			<label for="password1">새 비밀번호</label>-->
		<!--			<input type="password" id="password1" name="password1" value="">-->
		<!--		</p>-->
		<!--		<p>-->
		<!--			<label for="password2">새 비밀번호</label>-->
		<!--			<input type="password" id="password2" name="password2" value="">-->
		<!--		</p>-->
		<input type="button" value="비밀번호 변경" onclick="location.href='password'" >

	</fieldset>
	<p>
		<input type="submit" value="수정">
		<input type="button" value="취소" onclick="location.href='{% url 'blog:mypage' %}'" >
	</p>

</form>

</body>
{% endblock %}
</html>
