<!DOCTYPE html>
{% load bootstrap4 %}
{% block container %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit User</title>
</head>
<body>
<form method="POST">
    {% csrf_token %}

	<fieldset>
		<legend>회원정보수정</legend>
		<p>
			<label for="nickname">Nickname</label>
			<input type="text" id="nickname">
		</p>
		<p>
			<label for="email">Email</label>
			<input type="text" id="email">
		</p>
	    <p>
		<label for="password1">Password</label>
		<input type="password" id="password1" name="password1" value="">
		</p>
	    <p>
		<label for="password2">Confirm password</label>
		<input type="password" id="password2" name="password2" value="">
		</p>

	</fieldset>
	<p>
		<input type="submit" value="수정">
		<input type="reset" value="취소">
	</p>

</form>

</body>
{% endblock %}
</html>