<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog_post.title }}</title>
</head>
<body>
<button type="button" class="btn btn-sm btn-outline-secondary float-right" onclick="location.href='{% url 'post_delete' pk=post.pk%}'">삭제</button>
<button type="button" class="btn btn-sm btn-outline-secondary float-right" onclick="location.href='{% url 'post_edit' pk=post.pk%}'">수정</button>
<h1>{{ object.title }}</h1>
<div>
    {{ object.content }}
    {% if object.category %}
    <span class="badge badge-primary float-right">{{ object.category }}</span>
    {% else %}
    <span class="badge badge-primary float-right">미분류</span>
    {% endif %}

    {{ object.content }}
    {% for tag in object.tags.all %}
    <a href="{{ tag.get_absolute_url }}">#{{tag}}</a>
    {% endfor %}
</div>

<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <form method="post" action="{{ object.get_absolute_url }}new_comment/">{% csrf_token %}
            <div class="form-group">
                {{ comment_form | crispy }}
            </div>
            <button type="submit" class="btn btn-primary" onclick="location.href='{{ object.get_update_url }}'">Submit</button>
        </form>
    </div>
</div>

<!-- Single Comment -->
<div id="comment-list">
    {% for comment in object.comment_set.all %}
    <div class="media mb-4" id="comment-id-{{ comment.pk }}">
        <div class="media-body">
            {% if comment.author == request.user %}
            <button onclick="location.href='/blog/delete_comment/{{ comment.pk }}/'">delete</button>
            <button onclick="location.href='/blog/edit_comment/{{ comment.pk }}/'">edit</button>
            {% endif %}
            <h5 class="mt-0">{{ comment.author }} <small class="text-muted">{{ comment.created_at }}</small></h5>
            {{ comment.get_markdown_content | safe }}
        </div>
    </div>
    {% endfor %}
</div>


</body>
</html>