<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>challenge_certification</title>
    <style>
        .side_bar {width: 200px; padding:20px; padding-top:2px; border:1px solid black; position:fixed; top:15%; right:10%; border-radius:10px}
    </style>
</head>
<body>
<!-- challenge certification widget -->
  <div class="side_bar">
    <h3>목표 달성률</h3>
      {% for user in users %}
        {% if user.id != user.is_superuser %} <!-- 관리자는 보이지 않음 -->
      {{ user.id }}
          {% if request.user.id == user.id %} <!-- 현재 로그인한 유저라면 (색상 이사람만 다르게 하면 좋을듯) -->
                <div class="card-body">
                <h4 class="card-title">{{ user.get_username }}</h4>
                <progress value="{{ achieve_rate.1 }}" max="100"></progress>
                </div>
          {% else %}
            <!-- 현재 로그인한 유저가 아니라면 -->
                <div class="card-body">
                <h4 class="card-title">{{ user.get_username }}</h4>
                <progress value="{{ 20 }}" max="100"></progress>
                </div>
          {% endif %}
        {% endif %}
      {% endfor %}
  </div>
<!-- //challenge certification widget -->
<div>
    {{ achieve_rate }}
    {{ user_index }}

{% for i in "x"|rjust:"10" %}
 {{ forloop.counter }}
{% endfor %}
</div>
</body>
</html>
