<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>static menu</title>
	<style>
		
		*{margin: 0; padding: 0;}
		li{list-style: inline; font-size: 15pt;}

		.wrapper{width:100%; margin:0 auto;}
		.clearfix{content: ''; display: block; clear: both;}

		header{height:80px; background color:#eee; border: 1px solid #253342; position: fixed; width: 100%; }
		h1{font-size: 25pt; color:black; line-height: 80px; float: left; padding: 0px 20px 0px 20px;}
		.menu li{color: black; float:left; padding:25px 20px 20px 20px;}
		
	</style>
</head>
<body>
	<header>
		<div class="wrapper">
			<h1>WEBSITE</h1>
			<nav>
				<ul class="menu">
					<li style="display:inline"><a href="#" style="text-decoration: none">Home</a></li>
					<li style="display:inline"><a href="#" style="text-decoration: none">About</a></li>
					<li style="display:inline"><a href="#" style="text-decoration: none">Team</a></li>
				</ul>
			</nav>
		</div>
	</header>

</body>
</html>