<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<form action="#" method="post">
	<fieldset>
		<legend>목표 그만두기</legend>
		<p>
			도전중인 목표중 그만두고 싶은 목표를 클릭하세요.
		</p>
		<p>
			중복 선택이 가능하며 그만둔 목표는 실패한 목표로 이동됩니다.
		</p>
		<p>
			<span>그만둘 목표는?</span>
			<label for="one">목표1</label>
			<input type="checkbox" id="one" name="one" value="one">
			<label for="two">목표2</label>
			<input type="checkbox" id="two" name="two" value="two">
			<label for="three">목표3</label>
			<input type="checkbox" id="three" name="three" value="three">
			<label for="four">목표4</label>
			<input type="checkbox" id="four" name="four" value="four">
		</p>
	</fieldset>
	<p>
		<input type="submit" value="그만두기">
		<input type="reset" value="취소">
	</p>

</body>
</html> 