<!DOCTYPE html>
{% block container %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<div class="hgroup">
		<h2>탈퇴하기</h2>
<!--		<fieldset>-->
<!--			<legend>그룹 탈퇴하기</legend>-->
<!--			<p>-->
<!--				<label for="usersel">그룹선택</label>-->
<!--				<select name="usersel" id="usersel">-->
<!--					<option value="">그룹1</option>-->
<!--					<option value="">그룹2</option>-->
<!--					<option value="">그룹3</option>-->
<!--					<option value="">그룹4</option>-->
<!--				</select>-->
<!--			</p>-->

<!--			<button type="button" class="trigger"><span>탈퇴하기</span></button>-->
<!--			<button type="button" class="trigger"><span>취소</span></button>-->
<!--		</fieldset>-->
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>회원 탈퇴하기</legend>
				<p>
					탈퇴 하시려면 비밀먼호를 입력해 주십시요.
				</p>
				<p>
					<label for="password">비밀번호</label>
					<input type="password" id="password">
				</p>
				<button type="submit" class="trigger"><span>탈퇴하기</span></button>
				<input type="button" value="취소" onclick="location.href='{% url 'blog:mypage' %}'" >
		</fieldset>
		</form>

	</div>
</head>
<body>

</body>
{% endblock %}
</html>
