<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>로그인</title>
</head>
<body>
<h1>Login</h1>

{% if user.is_authenticated %}
        {{ user.username }}님 환영합니다.
<a href="{% url 'users:logout' %}">로그아웃</a>

{% else %}
<form method="POST" action="">
        {% csrf_token %}
        ID:
        <br>
        <input name="username" type="text">
        <br>
        Password:
        <br>
        <input name="password" type="password">
        <br><br>
        <input class="btn btn-primary" type="submit" value="로그인">
        <a href="{% url 'users:signup' %}">회원가입</a>
    </form>
</body>

{% endif %}
</body>
</html>
